<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title>Candle</title>
	</h:head>
	<h:body>
		<h:form>
		<p:messages autoUpdate="true"/>
			<h:panelGrid columns="5">
				<h:outputLabel value="Media Móvel: " />
				<p:selectOneButton value="#{CandleBean.nomeMedia}">
					<f:selectItem itemLabel="Simples" itemValue="MediaMovelSimples"/>
					<f:selectItem itemLabel="Ponderada" itemValue="MediaMovelPonderada"/>
				</p:selectOneButton>
				<h:outputLabel value="Indicador Base: " />
				<p:selectOneButton value="#{CandleBean.nomeIndicador}">
					<f:selectItem itemLabel="Abertura" itemValue="IndicadorAbertura"/>
					<f:selectItem itemLabel="Fechamento" itemValue="IndicadorFechamento"/>
				</p:selectOneButton>
				<p:commandButton value="Gerar Gráfico" action="#{CandleBean.geraGrafico}" update=":grafico"/>	
				<p:outputLabel value="Titulo Grafico" />
				<p:inputText id="Titulo" value="#{CandleBean.tituloGrafico}" required="true"/>			
			</h:panelGrid>			
		</h:form>
		<p:chart id="grafico" type="line" model="#{CandleBean.modeloGrafico}"/>
		<h:form id="table">
			<p:dataTable var="negociacao" value="#{CandleBean.negociacoes}"
				paginator="true" rows="18">
				<p:column sortBy="#{negociacao.preco}"  headerText="Preço">
					<h:outputText value="#{negociacao.preco}" />
				</p:column>
				<p:column sortBy="#{negociacao.quantidade}" headerText="Quantidade">
					<h:outputText value="#{negociacao.quantidade}" />
				</p:column>
				<p:column sortBy="#{negociacao.volume}" headerText="Volume">
					<h:outputText value="#{negociacao.volume}"/>						
				</p:column>
				<p:column sortBy="#{negociacao.data}" headerText="Data">
					<h:outputText value="#{negociacao.data.time}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>		
			</p:dataTable>
		</h:form>
	</h:body>
</html>